@use './partials/mixins' as *;
@use './partials/colors' as *;
@use './partials/fonts' as *;
@use './partials/global' as *;

html {
    body {
        margin: 0 0;
        box-sizing: border-box;
        overflow-x: hidden;
        background-color: $primary__star-black;
        padding: 15vw;
        
        section {
            
                padding: 0rem 1rem;
                @include flex-center;
            }
        
        .navbar {
            display: flex;
            
            &__fix {
                position: fixed;
                justify-content: start;
                align-items: center;
                top: 0;
                left: 0;
                width: 100%;
                background-color: $primary__star-black;
                box-shadow: 0px 0px 10px $primary__star-yellow;
                z-index: 9999;
                overflow: hidden;

                @include for--mobile {
                    height: 80px;
                }

                @include for--tablet {
                    display: flex;
                    align-items: center;
                    height: 80px;
                }

                @include for--desktop {
                    display: flex;
                    align-items: center;
                    height: 80px;
                }

            }

            &__logo {

                max-height: 80px;

                transition: 1s;
                @include for--mobile {
                    margin-left: -5px;
                    display: flex;
                    justify-content: center;
                    z-index: -1;
                    position: relative;
                    opacity: 0.5;
                }

                @include for--tablet {
                    transition:ease-in-out 1s;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 2rem;
                }

                @include for--desktop {
                    transition: 1s;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 2rem;
                }
            }

            &__list {
                z-index: 1;
                position: relative;
                margin-top: -30px;
                margin-left: -40px;
                @include for--tablet {
                    display: flex;
                    justify-content: center;
                    margin-top: 22px;
                    
                }

                @include for--desktop {
                    display: flex;
                    justify-content: center;
                    margin-top: 22px;
                   
                }

                &--item {
                    list-style: none;
                    min-width: 50%;
                    margin-top: -20px;

                    @include for--tablet{
                        margin-top: 0;
                    }

                }

                &--item li,
                a {
                    color: $primary__star-yellow;
                    text-decoration: none;
                    padding-bottom: 5px;
                    transition: all 0.5s ease-in-out;
                    

                    @include for--mobile {
                        display: flex;
                        justify-content: center;
                    }

                    @include for--tablet {
                        margin: 0 0 0 2rem;
                        padding: 0 2rem;
                    }

                    &:hover {
                        border-bottom: 5px;
                        border-color: rgba($primary__star-yellow, 0.2);
                        border-style: none none solid none;
                        padding-bottom: 30px;
       

                    }

                    &:active {
                        border-bottom: 5px;
                        border-color: rgba($primary__star-yellow, 0.2);
                        border-style: none none solid none;
                  
                    }

                    &:disabled {
                        border-bottom: 5px;
                        border-color: $primary__star-yellow;
                        border-style: none none solid none;
                      
                    }
                }

                @include for--mobile {
                    display: flex;
                    justify-content: center;
                }

            }
        }

        .star{
            &__title{
                &--container{
                    margin-top: 100px;
                    color: $primary__star-yellow;
                    @include flex-center;

                }
            }
            &__button{
                transition:ease-in-out 1s;
                margin-top: 20vw;
                padding: 2rem;
                border: 3px solid $primary__star-yellow;
                border-radius: 20px;
                color: $primary__star-yellow;
                background-color: $primary__star-black;

                font-family: "starWarText", sans-serif;
                font-size: 1rem;
                line-height: 2rem;
                letter-spacing: 0.2rem;
                transition: font-size 1s;

                @include for--tablet{
                transition:ease-in-out 1s;
                transition: font-size 1s;
                font-family: "starWarText", sans-serif;
                font-size: 1.5rem;
                line-height: 2rem;
                letter-spacing: 0.2rem;
                }
                transition:ease-in-out 1s;
                

                &:hover {
                    transition:ease-in-out 1s;
                    box-shadow: 0px 0px 20px $primary__star-yellow;
                    background-color: $primary__star-yellow;
                    color: $primary__star-black
                }
                transition:ease-in-out 1s;

                
                



            }
    
        }
    }
}