@font-face {
  font-family: "starWarTitle";
  src: url("../../src/fonts/Starjhol.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "starWarText";
  src: url("../../src/fonts/SfDistantGalaxy-0l3d.ttf");
  font-weight: bold;
  font-style: normal;
}
@media (min-width: 1280px) {
  h1 {
    font-family: "starWarTitle", sans-serif;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.2rem;
    transition: font-size 1s;
    text-justify: distribute;
  }
}
@media (min-width: 768px) {
  h1 {
    font-family: "starWarTitle", sans-serif;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.2rem;
    transition: font-size 1s;
    text-justify: distribute;
  }
}
@media (max-width: 767px) {
  h1 {
    font-family: "starWarTitle", sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.2rem;
    transition: font-size 1s;
    text-justify: distribute;
  }
}
@media (min-width: 1280px) {
  .font__body, h4, p, a {
    font-family: "starWarText", sans-serif;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.2rem;
    transition: font-size 1s;
  }
}
@media (min-width: 768px) {
  .font__body, h4, p, a {
    font-family: "starWarText", sans-serif;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.2rem;
    transition: font-size 1s;
  }
}
@media (max-width: 767px) {
  .font__body, h4, p, a {
    font-family: "starWarText", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.2rem;
    transition: font-size 1s;
  }
}
html body {
  margin: 0 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #000;
  padding: 15vw;
}
html body section {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
html body .navbar {
  display: flex;
}
html body .navbar__fix {
  position: fixed;
  justify-content: start;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  box-shadow: 0px 0px 10px #FFE81F;
  z-index: 9999;
  overflow: hidden;
}
@media (max-width: 767px) {
  html body .navbar__fix {
    height: 80px;
  }
}
@media (min-width: 768px) {
  html body .navbar__fix {
    display: flex;
    align-items: center;
    height: 80px;
  }
}
@media (min-width: 1280px) {
  html body .navbar__fix {
    display: flex;
    align-items: center;
    height: 80px;
  }
}
html body .navbar__logo {
  max-height: 80px;
  transition: 1s;
}
@media (max-width: 767px) {
  html body .navbar__logo {
    margin-left: -5px;
    display: flex;
    justify-content: center;
    z-index: -1;
    position: relative;
    opacity: 0.5;
  }
}
@media (min-width: 768px) {
  html body .navbar__logo {
    transition: ease-in-out 1s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  html body .navbar__logo {
    transition: 1s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
  }
}
html body .navbar__list {
  z-index: 1;
  position: relative;
  margin-top: -30px;
  margin-left: -40px;
}
@media (min-width: 768px) {
  html body .navbar__list {
    display: flex;
    justify-content: center;
    margin-top: 22px;
  }
}
@media (min-width: 1280px) {
  html body .navbar__list {
    display: flex;
    justify-content: center;
    margin-top: 22px;
  }
}
html body .navbar__list--item {
  list-style: none;
  min-width: 50%;
  margin-top: -20px;
}
@media (min-width: 768px) {
  html body .navbar__list--item {
    margin-top: 0;
  }
}
html body .navbar__list--item li,
html body .navbar__list a {
  color: #FFE81F;
  text-decoration: none;
  padding-bottom: 5px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  html body .navbar__list--item li,
  html body .navbar__list a {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  html body .navbar__list--item li,
  html body .navbar__list a {
    margin: 0 0 0 2rem;
    padding: 0 2rem;
  }
}
html body .navbar__list--item li:hover,
html body .navbar__list a:hover {
  border-bottom: 5px;
  border-color: rgba(255, 232, 31, 0.2);
  border-style: none none solid none;
  padding-bottom: 30px;
}
html body .navbar__list--item li:active,
html body .navbar__list a:active {
  border-bottom: 5px;
  border-color: rgba(255, 232, 31, 0.2);
  border-style: none none solid none;
}
html body .navbar__list--item li:disabled,
html body .navbar__list a:disabled {
  border-bottom: 5px;
  border-color: #FFE81F;
  border-style: none none solid none;
}
@media (max-width: 767px) {
  html body .navbar__list {
    display: flex;
    justify-content: center;
  }
}
html body .star__title--container {
  margin-top: 100px;
  color: #FFE81F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
html body .star__button {
  transition: ease-in-out 1s;
  margin-top: 20vw;
  padding: 2rem;
  border: 3px solid #FFE81F;
  border-radius: 20px;
  color: #FFE81F;
  background-color: #000;
  font-family: "starWarText", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  transition: font-size 1s;
  transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}
@media (min-width: 768px) {
  html body .star__button {
    transition: ease-in-out 1s;
    transition: font-size 1s;
    font-family: "starWarText", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
  }
}
html body .star__button:hover {
  transition: ease-in-out 1s;
  box-shadow: 0px 0px 20px #FFE81F;
  background-color: #FFE81F;
  color: #000;
}/*# sourceMappingURL=index.css.map */